:root {
    /* colors */
    --darkest-blue: #ABC4FF;
    --dark-blue: #B6CCFE;
    --medium-dark: #C1D3FE;
    --medium: #CCDBFD;
    --medium-light: #D7E3FC;
    --light-blue: #E2EAFC;
    --lightest-blue: #EDF2FB;
    /* measurements */
    --header-height: 100px;
}
body{
   overflow-x: hidden; 
}

#site-header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--darkest-blue);
}

.globe-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid var(--dark-blue);
}

h1{
    color: var(--lightest-blue);
    font-size: 3em;
    text-shadow: 3px 3px var(--medium-dark);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light-blue);
}

main {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightest-blue);
}

@keyframes plane-zoom {
    0%{
        left: -300px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    49%{
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
    }
    50%{
        left: calc(100% + 300px);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    99%{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100%{
        left: -300px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

#plane-container {
    position: sticky;
    top: var(--header-height);
    width: 100%;
    height: 100px;
    background-color: var(--medium);
}
#airplane{
    position: absolute;
    height: 100px;
    width: 100px;
    animation-name: plane-zoom;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

.modal-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.input-field{
    height: 30px;
    background-color: var(--light-blue);
    border: 3px solid var(--darkest-blue);
    border-radius: 10px;
    text-align: center;
    color: var(--dark-blue);
}

.form-label{
    border: 3px solid var(--darkest-blue);
    background-color: var(--lightest-blue);
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#modal-btns-container{
    position: sticky;
    top: calc(100px + var(--header-height));
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn {
    background-color: var(--light-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 50px;
    font-size: 1.5em;
    box-shadow: 3px 3px var(--darkest-blue);
}

.btn:hover{
    cursor: pointer;
    box-shadow: 1px 1px var(--darkest-blue);
    transition: 250ms;
}

#section-container{
    display: flex;
    width: 100vw;
    min-height: calc(100vh - 250px);
}

.list-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.place-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#modal {
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 250px);
    display: none;
    width: 500px;
    height: 500px;
    border: 3px solid var(--darkest-blue);
    border-radius: 25px;
    background-color: var(--medium);
}

#exit-modal{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

/* Places */

.place-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--darkest-blue);
    border-radius: 25px;
    background-color: var(--medium-light);
    width: 200px;
    height: 300px;
    padding: 20px;
}
.country-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: calc(100% + 30px);
    padding: 5px;
    background-color: var(--darkest-blue);
}
.flag-img{
    width: 50px;
    height: 40px;
}
.country-name{
    font-size: 1.5em;
}
.visit-description{
    background-color: var(--medium);
    border: 1px solid var(--medium-dark);
    padding: 5px;
}